In [96]:
import numpy as np
import pandas as pd

In [97]:
df=pd.read_csv("train.csv")
df

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min)
0,0x4607,INDORES13DEL02,37,4.9,22.745049,75.892471,22.765049,75.912471,19-03-2022,11:30:00,11:45:00,conditions Sunny,High,2,Snack,motorcycle,0,No,Urban,(min) 24
1,0xb379,BANGRES18DEL02,34,4.5,12.913041,77.683237,13.043041,77.813237,25-03-2022,19:45:00,19:50:00,conditions Stormy,Jam,2,Snack,scooter,1,No,Metropolitian,(min) 33
2,0x5d6d,BANGRES19DEL01,23,4.4,12.914264,77.678400,12.924264,77.688400,19-03-2022,08:30:00,08:45:00,conditions Sandstorms,Low,0,Drinks,motorcycle,1,No,Urban,(min) 26
3,0x7a6a,COIMBRES13DEL02,38,4.7,11.003669,76.976494,11.053669,77.026494,05-04-2022,18:00:00,18:10:00,conditions Sunny,Medium,0,Buffet,motorcycle,1,No,Metropolitian,(min) 21
4,0x70a2,CHENRES12DEL01,32,4.6,12.972793,80.249982,13.012793,80.289982,26-03-2022,13:30:00,13:45:00,conditions Cloudy,High,1,Snack,scooter,1,No,Metropolitian,(min) 30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45588,0x7c09,JAPRES04DEL01,30,4.8,26.902328,75.794257,26.912328,75.804257,24-03-2022,11:35:00,11:45:00,conditions Windy,High,1,Meal,motorcycle,0,No,Metropolitian,(min) 32
45589,0xd641,AGRRES16DEL01,21,4.6,0.000000,0.000000,0.070000,0.070000,16-02-2022,19:55:00,20:10:00,conditions Windy,Jam,0,Buffet,motorcycle,1,No,Metropolitian,(min) 36
45590,0x4f8d,CHENRES08DEL03,30,4.9,13.022394,80.242439,13.052394,80.272439,11-03-2022,23:50:00,00:05:00,conditions Cloudy,Low,1,Drinks,scooter,0,No,Metropolitian,(min) 16
45591,0x5eee,COIMBRES11DEL01,20,4.7,11.001753,76.986241,11.041753,77.026241,07-03-2022,13:35:00,13:40:00,conditions Cloudy,High,0,Snack,motorcycle,1,No,Metropolitian,(min) 26
45592,0x5fb2,RANCHIRES09DEL02,23,4.9,23.351058,85.325731,23.431058,85.405731,02-03-2022,17:10:00,17:15:00,conditions Fog,Medium,2,Snack,scooter,1,No,Metropolitian,(min) 36

In [98]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45593 entries, 0 to 45592
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           45593 non-null  object
 1   Delivery_person_ID           45593 non-null  object
 2   Delivery_person_Age          45593 non-null  object
 3   Delivery_person_Ratings      45593 non-null  object
 4   Restaurant_latitude          45593 non-null  float64
 5   Restaurant_longitude         45593 non-null  float64
 6   Delivery_location_latitude   45593 non-null  float64
 7   Delivery_location_longitude  45593 non-null  float64
 8   Order_Date                   45593 non-null  object
 9   Time_Orderd                  45593 non-null  object
 10  Time_Order_picked            45593 non-null  object
 11  Weatherconditions            45593 non-null  object
 12  Road_traffic_density         45593 non-null  object
 13  Vehicle_condition            45593 non-null  int64
 14  Type_of_order                45593 non-null  object
 15  Type_of_vehicle              45593 non-null  object
 16  multiple_deliveries          45593 non-null  object
 17  Festival                     45593 non-null  object
 18  City                         45593 non-null  object
 19  Time_taken(min)              45593 non-null  object
dtypes: float64(4), int64(1), object(15)
memory usage: 7.0+ MB

In [ ]:
import pandas as pd
import reverse_geocoder as rg

# 1. Combine all coordinate pairs (restaurant + delivery)
coords = list(zip(df['Restaurant_latitude'], df['Restaurant_longitude']))
coords += list(zip(df['Delivery_location_latitude'], df['Delivery_location_longitude']))


results = rg.search(coords)  

half = len(results) // 2
rest_res = results[:half]
deliv_res = results[half:]


df['Restaurant_City'] = [r['name'] for r in rest_res]
df['Restaurant_State'] = [r['admin1'] for r in rest_res]
df['Delivery_City'] = [r['name'] for r in deliv_res]
df['Delivery_State'] = [r['admin1'] for r in deliv_res]

In [100]:
df

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,...,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min),Restaurant_City,Restaurant_State,Delivery_City,Delivery_State
0,0x4607,INDORES13DEL02,37,4.9,22.745049,75.892471,22.765049,75.912471,19-03-2022,11:30:00,...,Snack,motorcycle,0,No,Urban,(min) 24,Indore,Madhya Pradesh,Indore,Madhya Pradesh
1,0xb379,BANGRES18DEL02,34,4.5,12.913041,77.683237,13.043041,77.813237,25-03-2022,19:45:00,...,Snack,scooter,1,No,Metropolitian,(min) 33,Bangalore,Karnataka,Hoskote,Karnataka
2,0x5d6d,BANGRES19DEL01,23,4.4,12.914264,77.678400,12.924264,77.688400,19-03-2022,08:30:00,...,Drinks,motorcycle,1,No,Urban,(min) 26,Bangalore,Karnataka,Bangalore,Karnataka
3,0x7a6a,COIMBRES13DEL02,38,4.7,11.003669,76.976494,11.053669,77.026494,05-04-2022,18:00:00,...,Buffet,motorcycle,1,No,Metropolitian,(min) 21,Coimbatore,Tamil Nadu,Irugur,Tamil Nadu
4,0x70a2,CHENRES12DEL01,32,4.6,12.972793,80.249982,13.012793,80.289982,26-03-2022,13:30:00,...,Snack,scooter,1,No,Metropolitian,(min) 30,Perungudi,Tamil Nadu,Gandhi Nagar,Tamil Nadu
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45588,0x7c09,JAPRES04DEL01,30,4.8,26.902328,75.794257,26.912328,75.804257,24-03-2022,11:35:00,...,Meal,motorcycle,0,No,Metropolitian,(min) 32,Jaipur,Rajasthan,Jaipur,Rajasthan
45589,0xd641,AGRRES16DEL01,21,4.6,0.000000,0.000000,0.070000,0.070000,16-02-2022,19:55:00,...,Buffet,motorcycle,1,No,Metropolitian,(min) 36,Takoradi,Western,Takoradi,Western
45590,0x4f8d,CHENRES08DEL03,30,4.9,13.022394,80.242439,13.052394,80.272439,11-03-2022,23:50:00,...,Drinks,scooter,0,No,Metropolitian,(min) 16,Gandhi Nagar,Tamil Nadu,Chennai,Tamil Nadu
45591,0x5eee,COIMBRES11DEL01,20,4.7,11.001753,76.986241,11.041753,77.026241,07-03-2022,13:35:00,...,Snack,motorcycle,1,No,Metropolitian,(min) 26,Coimbatore,Tamil Nadu,Singanallur,Tamil Nadu
45592,0x5fb2,RANCHIRES09DEL02,23,4.9,23.351058,85.325731,23.431058,85.405731,02-03-2022,17:10:00,...,Snack,scooter,1,No,Metropolitian,(min) 36,Ranchi,Jharkhand,Kanke,Jharkhand

In [101]:
df["Time_taken(min)"]=df["Time_taken(min)"].str.extract(r'(\d+)').astype(int)

In [102]:
df["Order_Date"]

0        19-03-2022
1        25-03-2022
2        19-03-2022
3        05-04-2022
4        26-03-2022
            ...
45588    24-03-2022
45589    16-02-2022
45590    11-03-2022
45591    07-03-2022
45592    02-03-2022
Name: Order_Date, Length: 45593, dtype: object

In [103]:
df["Order_Date"]=pd.to_datetime(df["Order_Date"])

C:\Users\Akashay\AppData\Local\Temp\ipykernel_9728\1138427390.py:1: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df["Order_Date"]=pd.to_datetime(df["Order_Date"])

In [104]:
df["Time_Orderd"].unique()

array(['11:30:00', '19:45:00', '08:30:00', '18:00:00', '13:30:00',
       '21:20:00', '19:15:00', '17:25:00', '20:55:00', '21:55:00',
       '14:55:00', '17:30:00', '09:20:00', '19:50:00', '20:25:00',
       '20:30:00', '20:40:00', '21:15:00', '20:20:00', '22:30:00',
       '08:15:00', '19:30:00', '12:25:00', '18:35:00', '20:35:00',
       '23:20:00', '23:35:00', '22:35:00', '23:25:00', '13:35:00',
       '21:35:00', '18:55:00', '14:15:00', '11:00:00', '09:45:00',
       '08:40:00', '23:00:00', 'NaN ', '19:10:00', '10:55:00', '21:40:00',
       '19:00:00', '16:45:00', '15:10:00', '22:45:00', '22:10:00',
       '20:45:00', '22:50:00', '17:55:00', '09:25:00', '20:15:00',
       '22:25:00', '22:40:00', '23:50:00', '15:25:00', '10:20:00',
       '10:40:00', '15:55:00', '20:10:00', '12:10:00', '15:30:00',
       '10:35:00', '21:10:00', '20:50:00', '12:35:00', '21:00:00',
       '23:40:00', '18:15:00', '18:20:00', '11:45:00', '12:45:00',
       '23:30:00', '10:50:00', '21:25:00', '10:10:00', '17:50:00',
       '22:20:00', '12:40:00', '23:55:00', '10:25:00', '08:45:00',
       '23:45:00', '19:55:00', '22:15:00', '23:10:00', '09:15:00',
       '18:25:00', '18:45:00', '16:50:00', '00:00:00', '14:20:00',
       '10:15:00', '08:50:00', '09:00:00', '17:45:00', '16:35:00',
       '21:45:00', '19:40:00', '14:50:00', '18:10:00', '12:20:00',
       '12:50:00', '09:10:00', '12:30:00', '17:10:00', '17:20:00',
       '18:30:00', '13:10:00', '19:35:00', '09:50:00', '15:00:00',
       '20:00:00', '10:30:00', '09:40:00', '15:35:00', '16:55:00',
       '22:55:00', '16:00:00', '17:15:00', '21:30:00', '18:40:00',
       '11:10:00', '13:50:00', '10:00:00', '21:50:00', '11:50:00',
       '22:00:00', '08:25:00', '11:20:00', '11:55:00', '09:30:00',
       '08:20:00', '08:10:00', '11:40:00', '23:15:00', '19:20:00',
       '12:15:00', '11:35:00', '11:15:00', '17:35:00', '17:40:00',
       '14:40:00', '18:50:00', '11:25:00', '14:25:00', '12:00:00',
       '16:10:00', '19:25:00', '08:55:00', '13:40:00', '17:00:00',
       '09:35:00', '08:35:00', '16:15:00', '13:20:00', '15:50:00',
       '15:20:00', '16:20:00', '14:30:00', '15:45:00', '16:40:00',
       '13:00:00', '12:55:00', '10:45:00', '13:25:00', '09:55:00',
       '15:15:00', '13:15:00', '14:00:00', '15:40:00', '16:25:00',
       '14:10:00', '13:45:00', '13:55:00', '14:35:00', '16:30:00',
       '14:45:00'], dtype=object)

In [ ]:



df = df[df["Time_Orderd"].notna()]
df = df[df["Time_Orderd"] != "NaN "]

df["Time_Orderd"] = pd.to_datetime(df["Time_Orderd"], format="%H:%M:%S", errors="coerce")

In [106]:
df['Time_Order_picked'] = pd.to_datetime(df['Time_Order_picked'], format='%H:%M:%S', errors='coerce')

In [107]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 43862 entries, 0 to 45592
Data columns (total 24 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           43862 non-null  object
 1   Delivery_person_ID           43862 non-null  object
 2   Delivery_person_Age          43862 non-null  object
 3   Delivery_person_Ratings      43862 non-null  object
 4   Restaurant_latitude          43862 non-null  float64
 5   Restaurant_longitude         43862 non-null  float64
 6   Delivery_location_latitude   43862 non-null  float64
 7   Delivery_location_longitude  43862 non-null  float64
 8   Order_Date                   43862 non-null  datetime64[ns]
 9   Time_Orderd                  43862 non-null  datetime64[ns]
 10  Time_Order_picked            43862 non-null  datetime64[ns]
 11  Weatherconditions            43862 non-null  object
 12  Road_traffic_density         43862 non-null  object
 13  Vehicle_condition            43862 non-null  int64
 14  Type_of_order                43862 non-null  object
 15  Type_of_vehicle              43862 non-null  object
 16  multiple_deliveries          43862 non-null  object
 17  Festival                     43862 non-null  object
 18  City                         43862 non-null  object
 19  Time_taken(min)              43862 non-null  int32
 20  Restaurant_City              43862 non-null  object
 21  Restaurant_State             43862 non-null  object
 22  Delivery_City                43862 non-null  object
 23  Delivery_State               43862 non-null  object
dtypes: datetime64[ns](3), float64(4), int32(1), int64(1), object(15)
memory usage: 8.2+ MB

In [109]:
df["Time_taken(min)"].mean()

26.293830650677123

In [110]:
df["Time_taken(min)"].min()

10

In [111]:
df["Time_taken(min)"].max()

54

In [112]:
delay_order_theshold=df["Time_taken(min)"].quantile(0.75)
delay_order_theshold

32.0

In [113]:
df['is_delayed'] = df['Time_taken(min)'] > delay_order_theshold
df['is_delayed']

0        False
1         True
2        False
3        False
4        False
         ...
45588    False
45589     True
45590    False
45591    False
45592     True
Name: is_delayed, Length: 43862, dtype: bool

In [114]:
df[df["Time_taken(min)"]>delay_order_theshold].shape[0]

10842

In [115]:
(df[df["Time_taken(min)"]>delay_order_theshold].shape[0]/df['Time_taken(min)'].shape[0])*100

24.718435091879076

In [116]:
df.groupby("Weatherconditions")["Time_taken(min)"].mean()

Weatherconditions
conditions Cloudy        28.939638
conditions Fog           28.931915
conditions Sandstorms    25.890734
conditions Stormy        25.858552
conditions Sunny         21.847517
conditions Windy         26.104537
Name: Time_taken(min), dtype: float64

In [117]:
(df.groupby('Weatherconditions')['is_delayed'].mean() * 100).sort_values(ascending=False)

Weatherconditions
conditions Fog           38.215623
conditions Cloudy        37.580052
conditions Windy         21.197076
conditions Stormy        20.264793
conditions Sandstorms    20.178449
conditions Sunny         10.128007
Name: is_delayed, dtype: float64

In [118]:
df.groupby("Road_traffic_density")["Time_taken(min)"].mean()

Road_traffic_density
High       27.208468
Jam        31.154348
Low        21.277453
Medium     26.717925
Name: Time_taken(min), dtype: float64

In [119]:
(df.groupby('Road_traffic_density')['is_delayed'].mean() * 100).sort_values(ascending=False)

Road_traffic_density
Jam        43.956522
Medium     25.884997
High       24.317446
Low         6.380295
Name: is_delayed, dtype: float64

In [120]:
df["Vehicle_condition"]

0        2
1        2
2        0
3        0
4        1
        ..
45588    1
45589    0
45590    1
45591    0
45592    2
Name: Vehicle_condition, Length: 43862, dtype: int64

In [121]:

df.groupby("Vehicle_condition")["Time_taken(min)"].mean()

Vehicle_condition
0    30.051565
1    24.369296
2    24.467354
Name: Time_taken(min), dtype: float64

In [122]:
(df.groupby('Vehicle_condition')['is_delayed'].mean() * 100).sort_values(ascending=False)

Vehicle_condition
0    36.444566
1    18.909489
2    18.822565
Name: is_delayed, dtype: float64

In [123]:

df.groupby("multiple_deliveries")["Time_taken(min)"].mean()

multiple_deliveries
0       22.865028
1       26.864600
2       40.427604
3       47.816327
NaN     22.711559
Name: Time_taken(min), dtype: float64

In [124]:
(df.groupby('multiple_deliveries')['is_delayed'].mean() * 100).sort_values(ascending=False)

multiple_deliveries
3       100.000000
2        97.760417
1        24.057928
0        14.534884
NaN      14.316013
Name: is_delayed, dtype: float64

In [125]:

df.groupby("Festival")["Time_taken(min)"].mean()

Festival
NaN     11.182648
No      25.986444
Yes     45.501750
Name: Time_taken(min), dtype: float64

In [126]:
(df.groupby('Festival')['is_delayed'].mean() * 100).sort_values(ascending=False)

Festival
Yes     100.000000
No       23.337073
NaN       0.000000
Name: is_delayed, dtype: float64

In [127]:

df.groupby("Type_of_vehicle")["Time_taken(min)"].mean()

Type_of_vehicle
electric_scooter     24.407187
motorcycle           27.600905
scooter              24.467574
Name: Time_taken(min), dtype: float64

In [128]:
(df.groupby('Type_of_vehicle')['is_delayed'].mean() * 100).sort_values(ascending=False)

Type_of_vehicle
motorcycle           28.787110
scooter              19.197006
electric_scooter     18.166384
Name: is_delayed, dtype: float64

In [ ]:
# Mean delivery time for each age above 30
(df[df['Delivery_person_Age'] > 30].groupby("Delivery_person_Age")["Time_taken(min)"].mean()).mean()

29.576996727685255

In [130]:
# Mean delivery time for each age less than 30
(df[df['Delivery_person_Age'] < 30].groupby("Delivery_person_Age")["Time_taken(min)"].mean()).mean()

22.990284116705748

In [131]:
# Mean delivery time for each age above 30
(df[df['Delivery_person_Age'] <25].groupby("Delivery_person_Age")["Time_taken(min)"].mean()).mean()

22.99978869249219

In [132]:

df.groupby("Delivery_person_Ratings")["Time_taken(min)"].mean()

Delivery_person_Ratings
2.5    37.300000
2.6    38.590909
2.7    35.863636
2.8    36.631579
2.9    38.526316
3.0    32.666667
3.1    36.551724
3.2    36.344828
3.3    36.040000
3.4    35.718750
3.5    37.056225
3.6    37.289855
3.7    37.360000
3.8    37.100877
3.9    37.492386
4.0    34.744661
4.1    34.530070
4.2    34.532440
4.3    34.629524
4.4    34.834680
4.5    23.645171
4.6    24.569597
4.7    24.170540
4.8    24.025602
4.9    24.123136
5.0    25.531281
Name: Time_taken(min), dtype: float64

In [133]:

    # Rating groups analysis
df['rating_group'] = pd.cut(df['Delivery_person_Ratings'], 
                               bins=[0, 3.5, 4.0, 4.5, 5.0], 
                               labels=['Low (≤3.5)', 'Medium (3.5-4.0)', 'Good (4.0-4.5)', 'Excellent (4.5-5.0)'])
    
rating_analysis = df.groupby('rating_group')['Time_taken(min)'].agg([
        'mean', 'median', 'count'
    ]).round(2)
rating_analysis

C:\Users\Akashay\AppData\Local\Temp\ipykernel_9728\3259512089.py:6: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  rating_analysis = df.groupby('rating_group')['Time_taken(min)'].agg([

                      mean  median  count
rating_group
Low (≤3.5)           36.85    36.0    472
Medium (3.5-4.0)     35.88    35.0   1934
Good (4.0-4.5)       30.56    32.0   8921
Excellent (4.5-5.0)  24.38    24.0  32267

In [134]:
df.groupby('rating_group', observed=True)['is_delayed'].mean() * 100

rating_group
Low (≤3.5)             81.144068
Medium (3.5-4.0)       73.267839
Good (4.0-4.5)         45.017375
Excellent (4.5-5.0)    15.368643
Name: is_delayed, dtype: float64

In [135]:
# Age groups analysis
df['age_group'] = pd.cut(df['Delivery_person_Age'], 
                            bins=[0, 25, 35, 45, 100], 
                            labels=['18-25', '26-35', '36-45', '45+'])
    
age_analysis = df.groupby('age_group', observed=True)['Time_taken(min)'].agg([
        'mean', 'median', 'count'
    ]).round(2)

age_analysis

            mean  median  count
age_group
18-25      22.97    22.0  12956
26-35      26.97    26.0  21842
36-45      29.48    29.0   8850

In [136]:

df.groupby('age_group', observed=True)['is_delayed'].mean() * 100

age_group
18-25    14.495215
26-35    26.801575
36-45    34.508475
Name: is_delayed, dtype: float64

In [137]:

df.groupby("City")["Time_taken(min)"].mean()

City
Metropolitian     27.309402
NaN               22.078671
Semi-Urban        49.737179
Urban             23.000000
Name: Time_taken(min), dtype: float64

In [138]:
(df.groupby('City')['is_delayed'].mean() * 100).sort_values(ascending=False)

City
Semi-Urban        100.000000
Metropolitian      27.699531
Urban              14.948770
NaN                12.325175
Name: is_delayed, dtype: float64

In [139]:

df.groupby("Type_of_order")["Time_taken(min)"].mean()

Type_of_order
Buffet     26.285925
Drinks     26.198679
Meal       26.417136
Snack      26.272563
Name: Time_taken(min), dtype: float64

In [140]:
city_performance = df.groupby('City')['Time_taken(min)'].agg(['mean', 'median', 'std', 'count']).round(2)

city_performance = city_performance.sort_values('Avg_Time')
city_performance

KeyError: 'Avg_Time'

In [ ]:

print(city_performance.head(10))

                 mean  median   std  count
City
Metropolitian   27.31    26.0  9.17  32802
NaN             22.08    21.0  8.37   1144
Semi-Urban      49.74    49.0  2.73    156
Urban           23.00    22.0  8.87   9760

In [ ]:

print(city_performance.tail(10))